html{
scrollbar-gutter:stable;
}

body{
margin:0;
padding:0;
font-family:Arial;
background-color:lightsteelblue;
background-image:url("images/yazilim.png");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

.sayfa{
width:1380px;
margin:30px auto;
padding:35px;
border-radius:15px;
background-color:whitesmoke;
border:2px solid black;
box-shadow:0 5px 15px black;
}

.menu{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
padding:25px;
border-radius:10px;
background-color:lightgray;
border:3px solid black;
}

menu a i{
margin-right: 15px;
}

.menu a{
display:inline-block;
color:white;
text-decoration:none;
font-weight:bold;
font-size:26px;
padding:18px 30px;
border-radius:8px;
background-color:rgb(78, 78, 78);
transition:0.3s;

}

.menu a:hover{
background-color:darkgrey;
transform:scale(1.08);
}

.menu img{
width:125px;
height:auto;
margin-right:30px;
border-radius:12px;
transition:0.3s;
}

.menu img:hover{
transform:scale(1.03);
}

.icerik{
text-align:center;
margin-top:50px;
padding:40px;
border-radius:15px;
background-color:gainsboro;
border:2px solid black;
}

.icerik h2{
display:inline-block;
color:white;
background-color:rgb(83, 186, 221);
padding:18px 45px;
border-radius:12px;
font-size:42px;
transition:0.3s;
}

.icerik h2:hover{
background-color:lightblue;
transform:scale(1.05);
}

.slogan{
font-size:22px;
color:black;
margin-top:20px;
}

.kartlar{
display:flex;
justify-content:center;
gap:25px;
margin-top:40px;
}

.kart{
width:260px;
padding:25px;
border-radius:12px;
background-color:white;
border:2px solid black;
transition:0.3s;
box-shadow:0 4px 10px gray;
}

.kart:hover{
transform:translateY(-8px);
background-color:whitesmoke;
}

.kart h3{
color:darkslategray;
font-size:24px;
}

.kart p{
color:black;
font-size:17px;
line-height:1.6;
}

.referans-kutu{
text-align:center;
}

.referans-baslik{
margin-top:50px;
font-size:30px;
font-weight:bold;
color:black;
}

.kaydirma-alani{
width:100%;
overflow:hidden;
margin-top:35px;
padding:25px 0;
border-radius:10px;
background-color:lightgray;
border-top:2px solid black;
border-bottom:2px solid black;
}

.logo-track{
display:flex;
width:max-content;
animation:sonsuzKaydir 15s linear infinite;
}

.logo-kaydir{
display:flex;
align-items:center;
gap:80px;
padding-right:80px;
}

.logo-kaydir img{
width:120px;
height:auto;
transition:0.3s;
}

.logo-kaydir img:hover{
transform:scale(1.1);
}

.razerlogo{
width:180px;
}

@keyframes sonsuzKaydir{
0%{
transform:translateX(0);
}
100%{
transform:translateX(-50%);
}
}

.resimler{
display:flex;
justify-content:center;
margin-top:40px;
}

.resimler img{
width:800px;
max-width:100%;
border-radius:15px;
box-shadow:0 5px 15px black;
}

.hakkimizda{
color:black;
padding:18px 45px;
font-size:25px;
text-align:justify;
line-height:1.8;
}

.hakkimizda_baslik{
color:black;
text-align:center;
font-size:40px;
}

.iletisim-alani{
    display:flex;
    gap:50px;
}

.sosyal-medya{
    width:50%;
}

.sosyal-medya h2{
    font-size:35px;
    font-family:Verdana;
}

.sosyal-medya a{
    display:block;
    background-color:darkgrey;
    color:white;
    text-decoration:none;
    padding:15px;
    margin-top:20px;
    width:200px;
    border-radius:10px;
    font-size:25px;
    transition:0.3s;
}

.sosyal-medya a:hover{
    background-color:rgb(98, 98, 98);
}

.form{
    width:50%;
    text-align:center;
}

.form p{
    font-size:35px;
    font-family:Verdana;
}

.form input{
    display:block;
    width:300px;
    padding:15px;
    margin:15px auto;
    border-radius:10px;
    border:2px solid black;
    font-size:20px;
}

.form a{
    display:inline-block;
    background-color:green;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:25px;
    transition:0.3s;
}

.form a:hover{
    transform:scale(1.04);
}

.sosyal-medya i{
    margin-right:10px;
}